@font-face {
    font-family: Sacred;
    src: url("Haleigh Script.ttf");
}
*{  margin: 0;
    padding: 0;
    border: 0;
    
}
body { /* corpo do site: sem margem, sem borda, sem padding sem nd **/
    margin: 0px;
    background-color:  #051621f1;
    height: 100%;
    background-image: url("home-blend.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat; 
    
}

.container { /*limitando o local do meu conteudo*/
    max-width: 100%;
    height: 100%;
    margin: 2% 3% 0 6.5%;
    
}

.header .container {
    min-height: 90px;
    height: 100%;
}

.header { /*Tudo aqui afeta meu cabeçário TODO*/
    background-color: #051621; 
    border-bottom: rgb(255, 255, 255) 1px solid;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}
.nav {
    float: top;
}

.nav ul li { /*Aqui é só nas coisas da "lista"*/
    display: inline-block;
    margin-left:9%;
    margin-top: 0px; 
    font-family:'Cinzel', serif;
    font-size: 127%;
}

li a:hover {

transition: 0.5s ease-in;
    color: rgb(253, 84, 84);
}

.nav ul { /*aqui é na lista por completo*/
    margin: 0 auto;
    padding: 2% 0% 2% 0%;
    
}

.nav a { /*aqui é nos meus links da navegação*/
    text-decoration: none;
    color: white;
}


.section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section img {
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    
}

.video-container {
    position: absolute;
    top: 0;
    left: 100;
    right: 100;
    width: 100%;
}
.degradetop {
  
    min-height: 7%;
    min-width: 100%;
    position: absolute;
    top: 100%;
    padding: 0px;
    width: 100%;
    z-index: 1;
}
.degradebottom {
   
    min-height: 7%;
    min-width: 100%;
    position: absolute;
    top: 80%;
    padding: 0px;
    padding-left:0px; 
}

.titulogaleria {
    margin-top: 0%;
    opacity: 100%;
   
}

.titulogaleria h1{
   font-family: "Sacred";
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 100px;
   padding-bottom: 3%; 
   padding-top: 10%;
   z-index: 1;

}

#ornamento {
    padding-left: 30%; 
    z-index: 1;
}

.overlay-cor {
    position: relative;
    top: 10%;
    left: 0%;
    background-color: blue;
    width: 100%;
    height: 90%;
    opacity: 100;
}

.degradebottom2 {
   
    min-height: 7%;
    min-width: 100%;
    position: absolute;
    top: 161%;
    padding: 0px;
    padding-left:0px; 
    opacity: 0.4;
}


.lbox {
    visibility: hidden;
    opacity: 0;
    
}

.min ul {
    width: 900px;
    list-style: none;
   padding-left:0px;
 
}

.min li { /*Aqui é só nas coisas da "lista"*/
    display: inline-block;
    margin-left:0%;
    padding-left: 35px;
    margin-top: 2%; 
    
   

}

.miniatura {
    width: 220px;
    height: 168px;
    border: rgb(255, 255, 255) 1px solid;
    
}

.lbox:target {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(10,10,10,.7);
    position: fixed;
    z-index: 1;

}

.box_img_horizontal {
    width: 600px;
    padding: 0; 
    margin: 2% 18%;
}

.box_img_vertical {
    width: 600px;
    padding: 0; 
    margin: 2% 33%;
}

.btn {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#anterior {
    left: 0%;
    top: 50%;
}

#proximo {
    left: 96%;
    top: 50%;
}

#fechar {
    top: 3%;
    right: 2%;
}